@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

.hero-container {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./assets/cenario-de-construcao-de-negocios-modernos-tocando-o-ceu.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;   
    
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 60px 4%;
    padding-top: 20px;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 2;
}

header nav ul a {
    text-decoration: none;
}

nav {
    width: 90%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: auto;
    height: auto;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

li:hover {
    color:#d870db
}

header.rolagem {
    background-color: black;
    padding: 20px 40px;
    height: 70px;
}
header.rolagem .logo {
    height: auto;
    width: 100px;
}

.card-background {
    width: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card-background-span {
    width: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.8);
}


.card-background h1 {
    color: #3B3E3D;
    font-size: 60px;
    text-align: center;
    width: auto;
    padding: 10px 10px;
}

.welcome-span{
    display: flex;
    color: #3B3E3D;
    font-size: 30px;
    text-align: center;
    width: auto;
    padding: 10px 4px;
}

.logo {
    width: 150px;
    height: 125px;
    
}

.content-container {
    height: 100vh;
    max-height: 100vh;
}
.content-container2 {
    height: 100svh;
}

.arrows {
    width: 60px;
    height: 172px;
    cursor: pointer;
    
}

.arrows path {
    stroke: black;
    fill: transparent;
    stroke-width: 4px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
    0% {opacity: 0};
    40% {opacity: 1};
    80% {opacity: 0};
    100% {opacity: 0};
   
}

@-webkit-keyframes arrow
{
    0% {opacity: 0};
    40% {opacity: 1};
    80% {opacity: 0};
    100% {opacity: 0};
   
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.about-us-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E4E6E6;
    padding: 0 20px;
}

.about-us-content {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    padding-top: 30px;
}

.position-container {
    width: 95%;
    display: flex;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.image-reverse {
    left: 20px;
}

.card-reverse {
    flex-direction: row-reverse;
}
.about-us-card {
    width: 70%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;
}

.about-us-image {
    width: 150px;
    height: 150px;
    position: relative;
    right: 30px;
    
}

.about-us-text {
    color: #3B3E3D;
    font-family: sans-serif;
    text-align: justify;
    font-size: 1.09rem;
    font-family: 'Montserrat', sans-serif;
    
}
.title-span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.services {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}


.swiper {
    height: 400px;
    min-width: 400px;
    width: 400px;
  }

.swiper-slide {
    width: 400px;
}   

.slide-img {
    height: 400px;
    width: 500px;
     
}

.slide-img img {
    height: 400px;
    width: 400px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;
    border-radius: 8px;
}

.bloco-services {
    display: flex;
    width: 60%;
    justify-content: space-around;   
}
.services-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;    
    padding: 20px 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.services-container:hover .services-content i {
    color: white;
    scale: 1.2;
}

.services-container:hover .services-content h3 {
    color: white;
    scale: 1;
}
.services-container:hover .services-content p {
    color: white;
    scale: 1;
}
.services-container:hover .services-content .hidden-icon #hidden-hands-icon {
    scale: 1.2;
    opacity: 1;
}
.services-container:hover .services-content .hidden-icon #hidden-pigg-icon {
    scale: 1.2;
    opacity: 1;
}
.services-container::before {
    content: "";
    width: 400px;
    height: 300px;
    border-radius: 8px;
    position: absolute;
    bottom: 100%;
    background-color: #cfa461;
}

.services-container:hover::before{
    animation: desloca .5s;
    bottom: 30%;

}

@keyframes desloca {
    0%{
        bottom: 100%;
    }
    50% {
        bottom: 25%;
    }
    75%{
        bottom: -10%;
    }
    100%{
        bottom: 0%;
    }
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 300px;
}


.services-content i {
    font-size: 70px;
    color: #cfa461;
    padding: 10px 0;
    margin-top: 100px;
}


.services-content h3, p {
    color: #3B3E3D;
    text-align: center;
    margin-top: 10px;
}
.services-content p{
    padding: 0 30px;
}

#hidden-hands-icon {
   font-size: 200px;
   margin-left: 250px;
   opacity: 0;
   color: #3B3E3D;
}

#hidden-pigg-icon {
    font-size: 200px;
    margin-left: 250px;
    color: #3B3E3D;
    opacity: 0;
}

.contact-us-container {
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    
}

.contact-us-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-us-text h6 {
    font-size: 15px;
    color: #cfa461;
}

.contact-us-text h2 {
    font-size: 42px;
}
.contact-us-text p {
    text-align: left;
    font-size: 20px;
}

.divisoria {
    background-color: #cfa461;
    height: 10px;
    width: 30%;
    align-self: flex-end;
    margin-right: 10px;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;
    padding: 3% 2%;
    
}

.contact-us-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
   
}
.name, .telefone, .cnpj, .email {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    border-radius: 2px;
    border: none;
    background-color: #E4E6E6;
    min-height: 3rem;
    font-size: large;
    padding-left: 8px;
}
.button-contact {
    width: 100%;
    height: 3.5rem;
    color: #E4E6E6;
    background-color: #cfa461;
    border: #cfa461;
    border-radius: 2px;
    cursor: pointer;
    font-size: 21px;
    
}

.button-contact i {
    margin-right: 10px;
}

.button-contact:hover {
    background-color: #d870db;
    color: #3B3E3D;
}

label {
    font-weight: 600;
    font-size: 15px;
}

.find-us-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    padding: 0 20px;
}

.find-us-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;
    z-index: 1;
}
.find-us-content h6 {
    color: #cfa461;
    font-size: 18px;
    font-weight: 100;
}
.find-us-divisoria {
    height: 5px;
    width: 20%;
    border-radius: 2px;
    background-color: #cfa461;
}
.find-us-content h2 {
    font-size: 21px;
    
}
.icons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 30px;
}

.icons i {
    font-size: 25px;
    padding: 25px;
    background-color: #cfa461;
    color: #E4E6E6;
    border-radius: 50%;
    transition: transform .3s;
}

.icons i:hover {
    background-color: #d870db;
    transform: scale(1.2);
}



footer {
    background-color: black;
    width: 100%;
    height: 250px;
    display: flex;
    column-gap: 30px;
    justify-content: first baseline;
    padding-left: 30px;

}


.footer-divisoria {
    background-color: #e4e6e661;
    height: auto;
    width: 2px;
    border: none;
}
.institucional{
    display: flex;
    flex-direction: column;
    color: #E4E6E6;
    row-gap: 20px;
}
.institucional a {
    text-decoration: none;
    color: #E4E6E6;
}
.contato {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: #E4E6E6;

}
.contato a {
    text-decoration: none;
    color: #E4E6E6;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
}
.contato a:hover {
    color: #d870db;
}
.institucional a:hover {
    color: #d870db;
}
.whatsapp-desktop {
    height: 250px;
    width: 250px;
    position: absolute;
    right: 0;
    margin-right: 50px;
    
}
.whatsapp-mobile {
    display: none;
}

@media (width < 768px){
    
    nav{
        display: none;
    }
    
    header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin-top: 25px;
        
        
        
    }
    .hero-container {
        min-width: 100%;
        padding: 0 30px;
    }

    .card-background {
        margin-top: 150px;
        margin-bottom: 15px;
    }
    .card-background h1 {
        font-size: 54px;
    }
    .about-us-container {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        padding-top: 60px;
    }
    .about-us-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(1fr, 3);
        padding: 0 2%;
        
    }
    .about-us-card {
        width: 100%;
        height: auto;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }
    
    .about-us-image {
        width: 100px;
        height: 100px;
        right: 20px;       
        
    }
    .image-reverse {
        left: 20px;
    }
    .about-us-text {
        color: #3B3E3D;
        font-family: sans-serif;
        text-align: justify;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }
    .swiper {
        height: 400px;
        width: 325px;
        margin-top: -20px;
    }
    .swiper-slide {
        width: 325px;

    } 
    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

    .bloco-services {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .services {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    .services-content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0%;
        margin-top: -30%;
        
    }
    .content-container2 {
        height: 100%;
        min-width: 100%;
        padding: 0;

    }
    .content-container{
        padding: 2%;
        height: 100svh;
        min-width: 100%;
        
    }
    .contact-us-inputs {
        display: flex;
        flex-direction: column;
        row-gap: 10px;        
    }
    .contact-us-container {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .contact-us-text{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .input-container {
        min-width: 90%;
        min-height: 400px;
    }
    .name, .telefone, .cnpj, .email {
        min-width: 90%;
    }
    .contact-us-text {
        width: 80%;
        padding-top: 40%;
    }
    .find-us-container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-top: 150px;

    }
    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .whatsapp-desktop {
        display: none;
    }
    .whatsapp-mobile {
       display: block;
       height: 50px;
       width: 50px;
       margin: 10px 0;
    }
    .contato {
        margin-bottom: 30px;
    }
    .institucional {
        margin-bottom: 30px;
        margin-top: 30px;

    }
   

    
}


    