@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

.hero-container {
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('./assets/cenario-de-construcao-de-negocios-modernos-tocando-o-ceu.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;   
    
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding: 60px 4%;
    padding-top: 20px;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 2;
}

header nav ul a {
    text-decoration: none;
}

nav {
    width: 90%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: auto;
    height: auto;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    cursor: pointer;
    color: aliceblue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

li:hover {
    color:#d870db
}

header.rolagem {
    background-color: black;
    padding: 20px 40px;
    height: 70px;
}
header.rolagem .logo {
    height: auto;
    width: 100px;
}

.card-background {
    width: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.8);
}
.card-background-span {
    width: auto;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  2px 2px 4px rgba(0, 0, 0, 0.8);
}


.card-background h1 {
    color: #3B3E3D;
    font-size: 60px;
    text-align: center;
    width: auto;
    padding: 10px 10px;
}

.welcome-span{
    display: flex;
    color: #3B3E3D;
    font-size: 30px;
    text-align: center;
    width: auto;
    padding: 10px 4px;
}

.logo {
    width: 150px;
    height: 125px;
    
}

.content-container {
    height: 100vh;
    max-height: 100vh;
    padding: 0 30px;
}
.content-container2 {
    height: 100svh;
}

.arrows {
    width: 60px;
    height: 172px;
    cursor: pointer;
    
}

.arrows path {
    stroke: black;
    fill: transparent;
    stroke-width: 4px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
    0% {opacity: 0};
    40% {opacity: 1};
    80% {opacity: 0};
    100% {opacity: 0};
   
}

@-webkit-keyframes arrow
{
    0% {opacity: 0};
    40% {opacity: 1};
    80% {opacity: 0};
    100% {opacity: 0};
   
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.about-us-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E4E6E6;  
}

.about-us-content {
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    padding-top: 60px;
}

.position-container {
    width: 100%;
    display: flex;
    padding: 0;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.image-reverse {
    left: 20px;
}

.card-reverse {
    flex-direction: row-reverse;
}
.about-us-card {
    width: 70%;
    height: auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;
}

.about-us-image {
    width: 150px;
    height: 150px;
    position: relative;
    right: 30px;
    
}

.about-us-text {
    color: #3B3E3D;
    font-family: sans-serif;
    text-align: justify;
    font-size: 1.09rem;
    font-family: 'Montserrat', sans-serif;
    
}
.title-span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.services {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}


.swiper {
    height: 400px;
    min-width: 500px;
    width: 500px;
  }

.swiper-slide {
    text-align: center;
    width: 500px;
}   

.slide-img {
    height: 400px;
    width: 500px;
     
}

.slide-img img {
    height: 400px;
    width: 400px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;
    border-radius: 8px;
}

.bloco-services {
    display: flex;
    width: 60%;
    justify-content: space-around;   
}
.services-container  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;    
    padding: 20px 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}
.services-container:hover .services-content i {
    color: white;
    scale: 1.2;
}

.services-container:hover .services-content h3 {
    color: white;
    scale: 1;
}
.services-container:hover .services-content p {
    color: white;
    scale: 1;
}
.services-container:hover .services-content .hidden-icon #hidden-hands-icon {
    scale: 1.2;
    opacity: 1;
}
.services-container:hover .services-content .hidden-icon #hidden-pigg-icon {
    scale: 1.2;
    opacity: 1;
}
.services-container::before {
    content: "";
    width: 400px;
    height: 300px;
    border-radius: 8px;
    position: absolute;
    bottom: 100%;
    background-color: #cfa461;
}

.services-container:hover::before{
    animation: desloca .5s;
    bottom: 30%;

}

@keyframes desloca {
    0%{
        bottom: 100%;
    }
    50% {
        bottom: 25%;
    }
    75%{
        bottom: -10%;
    }
    100%{
        bottom: 0%;
    }
}

.services-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 300px;
}


.services-content i {
    font-size: 70px;
    color: #cfa461;
    padding: 10px 0;
    margin-top: 100px;
}


.services-content h3, p {
    color: #3B3E3D;
    text-align: center;
    margin-top: 10px;
}
.services-content p{
    padding: 0 30px;
}

#hidden-hands-icon {
   font-size: 200px;
   margin-left: 250px;
   opacity: 0;
   color: #3B3E3D;
}

#hidden-pigg-icon {
    font-size: 200px;
    margin-left: 250px;
    color: #3B3E3D;
    opacity: 0;
}

.contact-us-container {
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.contact-us-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-us-text h6 {
    font-size: 15px;
    color: #cfa461;
}

.contact-us-text h2 {
    font-size: 42px;
}
.contact-us-text p {
    text-align: left;
    font-size: 20px;
}

.divisoria {
    background-color: #cfa461;
    height: 10px;
    width: 30%;
    align-self: flex-end;
    margin-right: 10px;
    
}

.input-container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 40%;
    min-height: 300px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-radius: 0px 0px 0px 0px;
    border-color: #cfa461;
    padding: 70px 40px;
    
}
.contact-us-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    align-items: center;
    justify-content: center;
   
}
.name, .telefone, .cnpj, .email {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.button-contact {
    width: 100%;
    height: 30px;
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    bottom: 0;
    z-index: 1;
    background-color: black;
    position: absolute;
    bottom: auto;
}

footer p {
    color: #E4E6E6;
    
}

@media (max-width: 768px){
    nav{
        display: none;
    }
    
    header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 250px;
        height: 150px;
        background-color: transparent;
        border-radius: 50%;
        padding-top: 20px;
        
    }
    .hero-container {
        min-width: 100%;
        padding: 0 30px;
    }

    .card-background {
        margin-top: 150px;
    }
    .about-us-container {
        box-sizing: border-box;
    }
    .about-us-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(1fr, 3);
        padding: 0 20px;
        
    }
    .about-us-card {
        width: 90%;
        height: auto;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }
    
    .about-us-image {
        width: 100px;
        height: 100px;
        position: relative;
        right: 50px;       
        
    }
    .image-reverse {
        left: 50px;
    }
    .about-us-text {
        color: #3B3E3D;
        font-family: sans-serif;
        text-align: justify;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
    }
    .swiper {
        height: auto;
        width: 400px;   
    }

    .swiper-wrapper{
        width: 350px;
    }
    
    .swiper-slide {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
        width: 350px;
    }
    .slide-img img {
        height: 350px;
        width: 350px;
    }

    .bloco-services {
        display: flex;
        flex-direction: column;
        height: 85%;
    }
    .services {
        display: flex;
        flex-direction: column;
        
    }
    #hidden-pigg-icon, #hidden-hand-icon {
        display: none;
    }
    .services {
        height: 200vh;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        
    }

    .services-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        
    }
    .content-container2 {
        height: 200svh;
    }
    .contact-us-inputs {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    
    
}